@{
    ViewData["Title"] = "Home";
}
<div class="onsite-post-section">
  <div class="ui one column grid">
    <div class="row">
      <div class="column">
        <div class="ui one column grid">
          <!--  new posts  -->
          <div class="row">
            <div class="column">

            </div>
          </div>
          <!--  top most posts -->
          <div class="row">
            <div class="column">
              <div class="ui grid">
                <div class="eight wide column">
                  <p class="post-list-header-title"><strong>Lastest Posts</strong></p>
                </div>
                <div class="eight wide column">
                  <p class="post-list-header-more"><a href="#">View All <i class="arrow right icon"></i></a></p>
                </div>
              </div>
              <div class="ui four column doubling stackable grid">

                <div class="column">
                  <div class="ui segment">
                    <div class="ui cards">
                      <div class="card post-card">
                        <div class="image">
                          <img src="~/images/post_0.jpeg">
                        </div>
                        <div class="content">
                          <div class="meta">
                            <a href="#" class="tag">Ai,ML</a>
                          </div>
                          <div class="header">
                            <a href="#">Home create a new asp.net core application and publish inside a linux host</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="column">
                  <div class="ui segment">
                    <div class="ui cards">
                      <div class="card post-card">
                        <div class="image">
                          <img src="~/images/post_0.jpeg">
                        </div>
                        <div class="content">
                          <div class="meta">
                            <a href="#" class="tag">Ai,ML</a>
                          </div>
                          <div class="header">
                            <a href="#">Home create a new asp.net core application and publish inside a linux host</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="column">
                  <div class="ui segment">
                    <div class="ui cards">
                      <div class="card post-card">
                        <div class="image">
                          <img src="~/images/post_0.jpeg">
                        </div>
                        <div class="content">
                          <div class="meta">
                            <a href="#" class="tag">Ai,ML</a>
                          </div>
                          <div class="header">
                            <a href="#">Home create a new asp.net core application and publish inside a linux host</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="column">
                  <div class="ui segment">
                    <div class="ui cards">
                      <div class="card post-card">
                        <div class="image">
                          <img src="~/images/post_0.jpeg">
                        </div>
                        <div class="content">
                          <div class="meta">
                            <a href="#" class="tag">Ai,ML</a>
                          </div>
                          <div class="header">
                            <a href="#">Home create a new asp.net core application and publish inside a linux host</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="column">
                  <div class="ui segment">
                    <div class="ui cards">
                      <div class="card post-card">
                        <div class="image">
                          <img src="~/images/post_0.jpeg">
                        </div>
                        <div class="content">
                          <div class="meta">
                            <a href="#" class="tag">Ai,ML</a>
                          </div>
                          <div class="header">
                            <a href="#">Home create a new asp.net core application and publish inside a linux host</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="column">
                  <div class="ui segment">
                    <div class="ui cards">
                      <div class="card post-card">
                        <div class="image">
                          <img src="~/images/post_0.jpeg">
                        </div>
                        <div class="content">
                          <div class="meta">
                            <a href="#" class="tag">Ai,ML</a>
                          </div>
                          <div class="header">
                            <a href="#">Home create a new asp.net core application and publish inside a linux host</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="column">
                  <div class="ui segment">
                    <div class="ui cards">
                      <div class="card post-card">
                        <div class="image">
                          <img src="~/images/post_0.jpeg">
                        </div>
                        <div class="content">
                          <div class="meta">
                            <a href="#" class="tag">Ai,ML</a>
                          </div>
                          <div class="header">
                            <a href="#">Home create a new asp.net core application and publish inside a linux host</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="column">
                  <div class="ui segment">
                    <div class="ui cards">
                      <div class="card post-card">
                        <div class="image">
                          <img src="~/images/post_0.jpeg">
                        </div>
                        <div class="content">
                          <div class="meta">
                            <a href="#" class="tag">Ai,ML</a>
                          </div>
                          <div class="header">
                            <a href="#">Home create a new asp.net core application and publish inside a linux host</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>